apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: mlflow-api
  namespace: machine-learning
spec:
  selector:
    matchLabels:
      app: mlflow-api-
  replicas: 1
  template:
    metadata:
      labels:
        app: mlflow-api
    spec:
      containers:
        - name: mlflow-api
          image: omnilogic.azurecr.io/mlflow-candelabrum_guarda_roupa:latest
          ports:
            - containerPort: 8000
          imagePullPolicy: Always
          resources:
            requests:
              memory: 3G
              cpu: 1
      imagePullSecrets:
        - name: regsecret
